$DarkTextColour: rgb(33, 33, 33);
html {
  font-family: 'Roboto', sans-serif;
  color: $DarkTextColour;
}
a {
  color: $DarkTextColour;
}
.BrandTitle {
  // padding-top: 20px;
  text-align: center;
  margin: auto auto auto auto;
}
.date {
  vertical-align: bottom;
}
.ThinHr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.HeavykHr {
  border-color: $DarkTextColour;
}
.ThinNav {
  line-height: 50%;
}
.Date {
  padding-left: 1rem;
}
.Article {
  //background: rgb(250,250,250);
}
.FooterText {
  padding-left: 1rem;
}
.ThinText {
  font-weight: 300;
}