$DarkTextColour: rgb(33, 33, 33);
$height-footer: 54px;

html {
  font-family: 'Roboto', sans-serif;
  color: $DarkTextColour;
}
a {
  color: $DarkTextColour;
}
.BrandTitle {
  // padding-top: 20px;
  text-align: center;
  margin: auto auto auto auto;
}
.date {
  vertical-align: bottom;
}
.ThinHr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.HeavyHr {
  border-color: $DarkTextColour;
}
.ThinNav {
  line-height: 50%;
}
.Date {
  padding-left: 1rem;
}
.Live {
  padding-right: 1rem;
}
.Article {
  //background: rgb(250,250,250);
}
.ThinText {
  font-weight: 300;
}
.FillSpace {
  width: 100%;
}
.PlayerImage {
  width: 200px;
}
.SocialImage {
  width: 30px;
  // margin-bottom: 5px;
}
.Chart {
  display: none;
}
.MediaImage {
  width: 64px;
}
#footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: $height-footer;
  // background-color: #f5f5f5;
  .FooterBlock {
    margin: 10px 0;
  }
}