@import 'themes.scss';

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

$DarkTextColour: rgb(33, 33, 33);

.app-container {
  @include themify($themes) {
    color: themed('textColour');  
    background-color: themed('backgroundColour');

    a {
      color: themed('textColour');
    }

    .ThinHr {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      border-color: themed('hrColour');
    }
    .HeavyHr {
      border-color: themed('hrDarkColour');
    }

    .SocialIcon {
      width: 20px;
      fill: themed('socialIconColour');
    }

    .Card {
      background-color: themed('cardBackgroundColour');
    }

    a:hover {
      color: red;
      text-decoration: none;
    }

    .ActiveLink {
      color: red;
    }

    button {
      color: themed('textColour');
      background-color: themed('buttonBackgroundColour');
      border-color: themed('buttonBorderColour');
    }

    .close {
      color: white;
    }

    .close:hover {
      color: white;
    }

    .modal-content {
      background-color: themed('modalBackgroundColour');

    }
  }
}

html {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.app-container {
  height: 100%;
}
.Max {
  height: 100%;
}
.BrandTitle {
  // padding-top: 20px;
  text-align: center;
  margin: auto auto auto auto;
}
#Logo {
  height: 80px;
}
.date {
  vertical-align: bottom;
}
.ThinNav {
  line-height: 50%;
}
.Date {
  padding-left: 1rem;
}
.SocialBlock {
  padding-right: 1rem;
}
.ThinText {
  font-weight: 300;
}
.FillSpace {
  width: 100%;
}
.PlayerImage {
  width: 200px;
}
.SocialImage {
  width: 30px;
  // margin-bottom: 5px;
}
#Instagram:hover{
  fill: #D63086;
}
#Facebook:hover{
  fill: #4267B2;
}
#Twitter:hover{
  fill: #1DA1F2;
}
#LightIcon {
  height: 20px;
}
#LightIcon:hover {
  filter: invert(.5) sepia(1) saturate(20) hue-rotate(25deg);
}
#DarkIcon {
  height: 20px;
}
#DarkIcon:hover {
  filter: invert(0.5) sepia(1) saturate(40) hue-rotate(230deg);
}
.Chart {
  display: none;
}
.MediaImage {
  width: 64px;
}
.SubmitButton {
  background-color: rgb(255, 53, 53);
  color: white;
}
.theme-dark .VectorImage {
  filter: invert(1);
}
.Muted {
  color: rgb(190, 190, 190)
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}