$themes: (
  light: (
    backgroundColour: #fff,
    textColour: rgb(33, 33, 33),
    hrColour: rgb(199, 199, 199),
    hrDarkColour: rgb(33, 33, 33),
    socialIconColour: black,
    buttonTextColor: #408bbd,
    buttonTextTransform: none,
    buttonTextHoverColor: #61b0e7,
    buttonColor: #fff,
    buttonBorder: 2px solid #fff,
  ),
  dark: (
    backgroundColour: rgb(33, 33, 33),
    textColour: #ddd,
    hrColour: #ddd,
    hrDarkColour: #fff,
    socialIconColour: #fff,
    buttonTextColor: #aaa,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
  ),
);