$themes: (
  light: (
    backgroundColour: rgb(255, 255, 255),
    textColour: rgb(33, 33, 33),
    hrColour: rgb(199, 199, 199),
    hrDarkColour: rgb(33, 33, 33),
    socialIconColour: black,
    cardBackgroundColour: rgb(255, 255, 255),
    buttonBackgroundColour: rgb(250, 250, 250),
    buttonBorderColour: rgb(233, 233, 233)
  ),
  dark: (
    backgroundColour: rgb(33, 33, 33),
    textColour: rgb(221, 221, 221),
    hrColour: rgb(221, 221, 221),
    hrDarkColour: rgb(255, 255, 255),
    socialIconColour: rgb(255, 255, 255),
    cardBackgroundColour: rgb(0, 0, 0),
    buttonBackgroundColour: rgb(0, 0, 0),
    buttonBorderColour: rgb(20, 20, 20),
    modalBackgroundColour: rgb(20, 20, 20),
    modalColour: rgb(255, 255, 255)
  ),
);